html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #71748d;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 60px;
    overflow-x: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 50px;
    background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3d405c;
    margin: 0px 0px 15px 0px;
    font-family: 'Circular Std Medium';
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
    line-height: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
    line-height: 26px;
}

h5 {
    font-size: 15px;
    line-height: 26px;
}

h6 {
    font-size: 12px;
}

p {
    margin: 0px 0px 20px 0px;
}

    p:last-child {
        margin: 0px;
    }

a {
    color: #71748d;
    text-decoration: none;
}

    a:hover {
        color: #ff407b;
    }

    a:active,
    a:hover {
        outline: 0;
    }

/* -----------------------
        Buttons
-------------------------*/

.btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px;
}

.btn-wishlist {
    background-color: #efeff6;
    border-radius: 100px;
    height: 30px;
    width: 30px;
    padding: 5px 3px;
    display: inline-block;
    font-size: 14px;
    color: #3d405c;
    text-align: center;
    line-height: 1.7;
}

    .btn-wishlist:hover {
        background-color: #ff407b;
        color: #fff;
    }

/*--- btn default --*/

.btn-brand {
    color: #2e2f39;
    background-color: #ffc750;
    border-color: #ffc750;
}

    .btn-brand:hover {
        color: #2e2f39;
        background-color: #efb63e;
        border-color: #efb63e;
    }

    .btn-brand.focus,
    .btn-brand:focus {
        color: #2e2f39;
        background-color: #efb63e;
        border-color: #efb63e;
        box-shadow: none;
    }

/*--- btn primary --*/

.btn-primary {
    color: #fff;
    background-color: #5969ff;
    border-color: #5969ff;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #4656e9;
        border-color: #4656e9;
    }

    .btn-primary.focus,
    .btn-primary:focus {
        color: #fff;
        background-color: #4656e9;
        border-color: #4656e9;
        box-shadow: 0 0 0 1px rgb(37, 52, 158);
    }

    .btn-primary:not(:disabled):not(.disabled).active:focus,
    .btn-primary:not(:disabled):not(.disabled):active:focus,
    .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgb(37, 52, 158);
    }

    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #4656e9;
        border-color: #4656e9;
    }

/*--- btn secondary --*/

.btn-secondary {
    color: #fff;
    background-color: #ff407b;
    border-color: #ff407b;
}

    .btn-secondary:hover {
        color: #fff;
        background-color: #f0346e;
        border-color: #f0346e;
    }

    .btn-secondary.focus,
    .btn-secondary:focus {
        color: #fff;
        background-color: #f0346e;
        border-color: #f0346e;
        box-shadow: 0 0 0 1px rgb(222, 17, 80);
    }

    .btn-secondary:not(:disabled):not(.disabled).active,
    .btn-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #f0346e;
        border-color: #f0346e;
    }

/*--- btn success --*/

.btn-success {
    color: #fff;
    background-color: #2ec551;
    border-color: #2ec551;
}

    .btn-success:hover {
        color: #fff;
        background-color: #21ae41;
        border-color: #21ae41;
    }

    .btn-success.focus,
    .btn-success:focus {
        color: #fff;
        background-color: #21ae41;
        border-color: #21ae41;
        box-shadow: 0 0 0 1px rgb(18, 158, 50);
    }

    .btn-success:not(:disabled):not(.disabled).active,
    .btn-success:not(:disabled):not(.disabled):active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #21ae41;
        border-color: #21ae41;
    }

/*--- btn danger --*/

.btn-danger {
    color: #fff;
    background-color: #ef172c;
    border-color: #ef172c;
}

    .btn-danger:hover {
        color: #fff;
        background-color: #da0419;
        border-color: #da0419;
    }

    .btn-danger.focus,
    .btn-danger:focus {
        color: #fff;
        background-color: #da0419;
        border-color: #da0419;
        box-shadow: 0 0 0 1px rgb(218, 4, 25);
    }

    .btn-danger:not(:disabled):not(.disabled).active,
    .btn-danger:not(:disabled):not(.disabled):active,
    .show > .btn-danger.dropdown-toggle {
        color: #fff;
        background-color: #da0419;
        border-color: #da0419;
    }

/*--- btn warning --*/

.btn-warning {
    color: #2e2f39;
    background-color: #ffc108;
    border-color: #ffc108;
}

    .btn-warning:hover {
        color: #2e2f39;
        background-color: #f3b600;
        border-color: #f3b600;
    }

    .btn-warning.focus,
    .btn-warning:focus {
        color: #2e2f39;
        background-color: #f3b600;
        border-color: #f3b600;
        box-shadow: 0 0 0 1px rgb(238, 182, 0);
    }

    .btn-warning:not(:disabled):not(.disabled).active,
    .btn-warning:not(:disabled):not(.disabled):active,
    .show > .btn-warning.dropdown-toggle {
        color: #2e2f39;
        background-color: #f3b600;
        border-color: #f3b600;
    }

/*--- btn info --*/

.btn-info {
    color: #fff;
    background-color: #25d5f2;
    border-color: #25d5f2;
}

    .btn-info:hover {
        color: #fff;
        background-color: #17c0dc;
        border-color: #17c0dc;
    }

    .btn-info.focus,
    .btn-info:focus {
        color: #fff;
        background-color: #17c0dc;
        border-color: #17c0dc;
        box-shadow: 0 0 0 1px rgb(238, 184, 22);
    }

    .btn-info:not(:disabled):not(.disabled).active,
    .btn-info:not(:disabled):not(.disabled):active,
    .show > .btn-info.dropdown-toggle {
        color: #fff;
        background-color: #17c0dc;
        border-color: #17c0dc;
    }

/*--- btn light --*/

.btn-light {
    color: #71738d;
    background-color: #f0f0f8;
    border-color: #f0f0f8;
}

    .btn-light:hover {
        color: #2e2f39;
        background-color: #d7d7df;
        border-color: #d7d7df;
    }

    .btn-light.focus,
    .btn-light:focus {
        color: #2e2f39;
        background-color: #d7d7df;
        border-color: #d7d7df;
        box-shadow: 0 0 0 1px rgb(215, 215, 223);
    }

/*--- btn dark --*/

.btn-dark {
    color: #fff;
    background-color: #2e2f39;
    border-color: #2e2f39;
}

    .btn-dark:hover {
        color: #2e2f39;
        background-color: #d7d7df;
        border-color: #d7d7df;
    }

    .btn-dark.focus,
    .btn-dark:focus {
        color: #fff;
        background-color: #d7d7df;
        border-color: #d7d7df;
        box-shadow: 0 0 0 1px rgb(46, 47, 57);
    }

/*--- btn outline brand --*/

.btn-outline-brand {
    color: #2e2f39;
    background-color: transparent;
    border-color: #ffc750;
}

    .btn-outline-brand:hover {
        color: #2e2f39;
        background-color: #ffc750;
        border-color: #ffc750;
    }

    .btn-outline-brand.focus,
    .btn-outline-brand:focus {
        color: #2e2f39;
        background-color: transparent;
        border-color: #ffc750;
        box-shadow: 0 0 0 1px rgb(255, 195, 89);
    }

/*--- btn outline primary --*/

.btn-outline-primary {
    color: #5969ff;
    background-color: transparent;
    border-color: #5969ff;
}

    .btn-outline-primary:hover {
        color: #fff;
        background-color: #5969ff;
        border-color: #5969ff;
    }

    .btn-outline-primary.focus,
    .btn-outline-primary:focus {
        color: #fff;
        background-color: #5969ff;
        border-color: #5969ff;
        box-shadow: 0 0 0 1px rgb(65, 77, 167);
    }

/*--- btn outline secondary --*/

.btn-outline-secondary {
    color: #ff407b;
    background-color: transparent;
    border-color: #ff407b;
}

    .btn-outline-secondary:hover {
        color: #fff;
        background-color: #ff407b;
        border-color: #ff407b;
    }

    .btn-outline-secondary.focus,
    .btn-outline-secondary:focus {
        color: #fff;
        background-color: #ff407b;
        border-color: #ff407b;
        box-shadow: 0 0 0 1px rgb(227, 45, 201);
    }

    .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .btn-outline-secondary:not(:disabled):not(.disabled):active,
    .show > .btn-outline-secondary.dropdown-toggle {
        color: #fff;
        background-color: #ff407b;
        border-color: #ff407b;
    }

/*--- btn outline success --*/

.btn-outline-success {
    color: #2ec551;
    background-color: transparent;
    border-color: #2ec551;
}

    .btn-outline-success:hover {
        color: #fff;
        background-color: #2ec551;
        border-color: #2ec551;
    }

    .btn-outline-success.focus,
    .btn-outline-success:focus {
        color: #fff;
        background-color: #2ec551;
        border-color: #2ec551;
        box-shadow: 0 0 0 1px rgb(40, 167, 69);
    }

/*--- btn outline danger --*/

.btn-outline-danger {
    color: #ef172c;
    background-color: transparent;
    border-color: #ef172c;
}

    .btn-outline-danger:hover {
        color: #fff;
        background-color: #ef172c;
        border-color: #ef172c;
    }

    .btn-outline-danger.focus,
    .btn-outline-danger:focus {
        color: #fff;
        background-color: #ef172c;
        border-color: #ef172c;
        box-shadow: 0 0 0 1px rgb(239, 23, 44);
    }

/*--- btn outline warning --*/

.btn-outline-warning {
    color: #2e2f39;
    background-color: transparent;
    border-color: #ffc108;
}

    .btn-outline-warning:hover {
        color: #2e2f39;
        background-color: #ffc108;
        border-color: #ffc108;
    }

    .btn-outline-warning.focus,
    .btn-outline-warning:focus {
        color: #2e2f39;
        background-color: #ffc108;
        border-color: #ffc108;
        box-shadow: 0 0 0 1px rgb(255, 193, 8);
    }

/*--- btn outline info --*/

.btn-outline-info {
    color: #25d5f2;
    background-color: transparent;
    border-color: #25d5f2;
}

    .btn-outline-info:hover {
        color: #fff;
        background-color: #25d5f2;
        border-color: #25d5f2;
    }

    .btn-outline-info.focus,
    .btn-outline-info:focus {
        color: #fff;
        background-color: #25d5f2;
        border-color: #0998b0;
        box-shadow: 0 0 0 1px rgb(238, 184, 22);
    }

/*--- btn outline light --*/

.btn-outline-light {
    color: #7171a6;
    background-color: transparent;
    border-color: #e6e6f2;
}

    .btn-outline-light:hover {
        color: #71748d;
        background-color: #f0f0f8;
        border-color: #cacae0;
    }

    .btn-outline-light.focus,
    .btn-outline-light:focus {
        color: #71748d;
        background-color: #f0f0f8;
        border-color: #cacae0;
        box-shadow: 0 0 0 1px rgb(235, 235, 237);
    }

/*--- btn outline-dark --*/

.btn-outline-dark {
    color: #2e2f39;
    background-color: transparent;
    border-color: #2e2f39;
}

    .btn-outline-dark:hover {
        color: #fff;
        background-color: #2e2f39;
        border-color: #2e2f39;
    }

    .btn-outline-dark.focus,
    .btn-outline-dark:focus {
        color: #fff;
        background-color: #2e2f39;
        border-color: #2e2f39;
        box-shadow: 0 0 0 1px rgb(46, 47, 57);
    }

/*--- btn size --*/

.btn-xs {
    padding: 4px 10px;
    font-size: 12px;
}

.btn-sm {
    padding: 5px 12px;
    font-size: 14px;
}

.btn-lg {
    padding: 11px 20px;
    font-size: 15px;
}

/* -----------------------
        Tables
-------------------------*/

.table {
    margin-bottom: 0px;
}

    .table td,
    .table th {
        padding: 10px;
        vertical-align: middle;
        border-top: 1px solid #e6e6f2;
        font-weight: normal;
    }

    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #e6e6f2;
    }

    .table thead th,
    .table th {
        color: #3d405c;
        font-family: 'Circular Std Medium';
    }

.table-bordered {
    border: 1px solid #e6e6f2;
}

    .table-bordered td,
    .table-bordered th {
        border: 1px solid #e6e6f2;
    }

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(230, 230, 242, .5);
}

.table-hover tbody tr:hover {
    background-color: rgba(230, 230, 242, .5);
}

.table .table-btn {
    padding: 8px 14px;
}

    .table .table-btn:not(:first-child) {
        margin-left: 5px;
    }

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: 0px;
    margin-right: 5px;
    line-height: 1.25;
    color: #71748d;
    background-color: #fff;
    border: 1px solid #e6e6f2;
    border-radius: 3px;
    line-height: 1;
}

    .page-link:hover {
        z-index: 2;
        color: #fff;
        text-decoration: none;
        background-color: #5969ff;
        border-color: #5969ff;
    }

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #5969ff;
    border-color: #5969ff;
}

/* -----------------------
        Forms
-------------------------*/

label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    color: #71748d;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
}

    .form-control:focus {
        color: #71748d;
        background-color: #fff;
        border-color: #a7a7f0;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(214, 214, 255, .75);
    }

/* file upload button */
input[type="file"]::file-selector-button {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: 2px;
    color: #fff;
    background-color: #5969ff;
    border-color: #5969ff;
    cursor: pointer;
}

.input[type="file"]::file-selector-button:hover {
    color: #fff;
    background-color: #4656e9;
    border-color: #4656e9;
}

input[type="file"]::file-selector-button:active {
    color: #fff;
    background-color: #4656e9;
    border-color: #4656e9;
    box-shadow: 0 0 0 1px rgb(37, 52, 158);
}

button:focus {
    outline: 0;
}

select.form-control {
    color: #71748d;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: 99% 52%;
    background-size: auto;
    background-repeat: no-repeat;
    background-image: url(/images/down-arrow.png);
    padding-right: 15px;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
}

textarea.form-control {
    height: auto;
    color: #71748d;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d2d2e4;
    border-radius: 2px;
    padding: 12px 16px;
}

input::-webkit-input-placeholder {
    color: #71748d !important;
}

input:focus::-webkit-input-placeholder {
    color: #5969ff !important;
}

textarea::-webkit-input-placeholder {
    color: #71748d !important;
}

textarea:focus::-webkit-input-placeholder {
    color: #5969ff !important;
}

.form-group {
    margin-bottom: 12px;
}

.form-hint {
    font-size: 12px;
    margin: 10px 0px !important;
}

.field-validation-error {
    display: inline-block;
    margin-top: 5px;
    color: #ef172c;
}

.image-uploader-container .img {
    width: 70px;
    height: 70px;
    border: 2px solid #5969ff;
    border-radius: 50%;
}

/* -----------------------
        Navbar
-------------------------*/
.navbar .navbar-brand {
    width: 130px;
    height: auto;
}

.navbar .nav-link:hover {
    color: #ff407b !important;
}

/* -----------------------
        Cards
-------------------------*/

.card {
    margin-bottom: 30px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

.card-header {
    background-color: #fff;
    border-bottom: 1px solid #e6e6f2;
}

.card-subtitle {
    font-size: 14px;
}

.card-footer {
    border-top: 1px solid #e6e6f2;
    background: #f6f6ff;
}

.card-link {
}

.toolbar {
    font-size: 18px;
}

.card-header-title {
    margin: 0;
    line-height: 2;
}

.card-footer-item {
    padding: 12px 28px;
}

.card-footer-item-bordered:not(:last-child) {
    border-right: 1px solid rgb(230, 230, 242);
}

/* -----------------------
        Login Section
-------------------------*/

.login-section .card .card-header .logo-img {
    width: 300px;
    height: auto;
}

.login-section .row {
    padding: 10% 0;
}

.login-section .login-with-google-btn {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

    .login-section .login-with-google-btn:hover {
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    }

    .login-section .login-with-google-btn:active {
        background-color: #eeeeee;
    }

    .login-section .login-with-google-btn:focus {
        outline: none;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
    }

    .login-section .login-with-google-btn:disabled {
        filter: grayscale(100%);
        background-color: #ebebeb;
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    }

/* -----------------------
     Dashboard Section
-------------------------*/

.dashboard-section .btn-dashboard {
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

    .dashboard-section .btn-dashboard .ico {
        font-size: 30px;
        margin-right: 15px
    }

    .dashboard-section .btn-dashboard .text {
        font-size: 30px;
    }

/* -----------------------
     Table Section
-------------------------*/

.table-section {
    margin: 60px 0 120px 0;
    background-color: #ffffff;
    padding: 20px 40px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

    .table-section > div {
        margin: 50px 0;
    }

/* -----------------------
     Form Section
-------------------------*/

.form-section {
    margin: 60px 0 120px 0;
    background-color: #ffffff;
    padding: 20px 40px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}

    .form-section > div {
        margin: 50px 0;
    }

/* -----------------------
     Error Section
-------------------------*/

.error-section {
    margin: 60px 0 120px 0;
    background-color: #ffffff;
    padding: 20px 40px;
    border: none;
    -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}
