<div class="login-container">
    <h2>Welcome to CoStudy Cloud!</h2>

    <p>
        Empowering collaborative learning for everyone. Sign in with your Google account to join study groups, schedule sessions, and explore a world of shared knowledge.
    </p>

    <form asp-action="ExternalLogin">
        <button type="submit" class="login-with-google-btn">
            Sign in with Google
        </button>
    </form>
</div>