@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoStudyCloud</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fonts/circular-std/style.css">
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/lib/datatables/css/responsive.bootstrap5.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico">
</head>
<body>
    <header>
        @if (User.Identity != null && User.Identity.IsAuthenticated)
        {
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <img class="navbar-brand" src="~/images/logo.svg" alt="logo">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Groups" asp-action="Index">Groups</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="StudySessions" asp-action="Index">Sessions</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Documents" asp-action="Index">Documents</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav flex-grow-1 justify-content-end pr-5">
                            <li class="nav-item">
                                <form asp-controller="Account" asp-action="LogOut" class="d-none" id="logout-form">
                                </form>

                                <div class="dropdown mr-5 dropstart">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="navDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hi @User.FindFirst(ClaimTypes.GivenName)?.Value
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="navDropdownMenuButton">
                                        <li>
                                            <a class="dropdown-item" asp-controller="Account" asp-action="Profile">
                                                <span class="fa fa-user me-2"></span>
                                                Profile
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:document.getElementById('logout-form').submit()">
                                                <span class="fa fa-sign-out-alt me-2"></span>
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        }
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.UtcNow.Year - CoStudy Cloud
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables/js/responsive.bootstrap5.min.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
